.landing-layout {
  main {
    section.section-wrapper {
      @apply max-w-prose mx-auto sm:px-4;

      h3.section-title {
        @apply mt-3 mb-4 text-2xl uppercase font-bold relative w-fit cursor-pointer px-2 text-center transition-colors;

        span {
          width: 100% !important;
          height: 40% !important;

          @apply absolute bottom-0 left-0 -z-[1] transition-all opacity-60;
        }

        &:hover {
          color: #333 !important;
          span {
            opacity: 1 !important;
            height: 100% !important;
          }
        }
      }
    }
  }
}
