.table-wrapper {
  border: 1px solid #32324d;
  border-radius: 4px;
  box-shadow: #03030533 1px 1px 10px;
  max-height: calc(100vh - 24px - 40px - 40px - 24px - 40px - 40px);
  overflow-y: scroll;
  position: relative;

  table {
    width: 100%;
    background-color: #212134;

    thead {
      position: sticky;
      top: 0;
      left: 0;
    }

    thead > tr {
      border-bottom: 1px solid #32324d;
      background-color: #319795 !important;
    }

    tbody > tr {
      border-bottom: 1px solid #32324d;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: #212134 !important;
      }

      &:nth-child(even) {
        background-color: #32324d !important;
      }

      &:hover {
        background-color: #181826 !important;
      }

      td:first-child {
        font-weight: 700 !important;
      }
    }

    td,
    th {
      vertical-align: middle;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      display: grid;
      align-items: center;
    }

    th {
      text-align: left;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      min-height: 56px;
      padding: 0 16px;
    }

    td {
      padding: 16px;
      min-height: 65px;
    }

    tr {
      display: grid;
      grid-template-columns: 10% 60% 25%;
    }
  }
}
